@import "tailwindcss";
@import "fumadocs-ui/css/shadcn.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";
@import "@teak/ui/styles.css";

@source "../../../packages/ui/src/**/*.{ts,tsx}";

#nd-sidebar,
#nd-sidebar-mobile {
  background: transparent !important;
  border: 0 !important;
}

#nd-sidebar [data-active="true"],
#nd-sidebar-mobile [data-active="true"] {
  background: var(--background) !important;
}

[data-toc-popover] {
  @apply hidden md:hidden;
}
